{% extends 'base.html' %}
{% block title %}
    My Quotations Project - {{ block.super }}
{% endblock title %}

{% block content %}
    <p>There are a total of {{ total_count }} quotes... </p>

<div class="sechighlight">
<div class="container sec">

    {% for q in things %}
    <h3>{{ q.date }} <I>{{ q.quote}} </I></h3>
    {% endfor %}
</div>
</div>

<div class="sechighlight">
<div class="container sec">

    {% for q in things %}
    <h2>
    	<a href="{% url 'quote_detail' slug=q.slug %}"> {{q.quote}}
    	</a>
    </h2>
    {% endfor %}
</div>
</div>

{% endblock content %}

{% block footer %}
    <p>and here is the footer...</p>
{% endblock footer %}
