{% extends 'base.html' %}
{% block title %}
    My Quotations Project - {{ block.super }}
{% endblock title %}

{% block content %}
    <h1>!! Quotations and Phrases !!</h1>
    <p>There are a total of {{ total_count }} quotes... </p>

    {% for q in things %}
    <h3>{{ q.date }} <I>{{ q.quote}} </I></h3>
    {% endfor %}

    {% for q in things %}
    <h2>
    	<a href="{% url 'quote_detail' slug=q.slug %}"> {{q.quote}}
    	</a>
    </h2>
    {% endfor %}
{% endblock content %}

{% block footer %}
    <p>and here is the footer...</p>
{% endblock footer %}